.tabs {
    margin: 8% 0;
    width: 100%;
    border-bottom: 1px solid;
}

.container {
    margin: 10%;
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    width:95%;
}

#tab1 {
    width: 47%;
    margin-top: 2%;
}

#tab2 {
    width: 53%;
}

.tab-button {
    width: 20%;
    border: none;
    outline: none;
    background-color: white;
    font-weight: bold;
    color: gray;
    font-size: 20px;
}