.tabs {
    margin: 7% 0 3% 0;
    width: 100%;
    border-bottom: 1px solid #000;
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tab-pane {
    display: none;
}

#tab1 {
    width: 100%;
}

#tab2 {
    width: 100%;
}

#tab3 {
    width: 100%;
}

.tab-pane.active {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tab-button {
    width: 20%;
    border: none;
    outline: none;
    background-color: white;
    font-weight: bold;
    color: #808080;
    font-size: 20px;
}

.tab-button-stable { 
    width: 20%;
    border: none;
    outline: none;
    background-color: white;
    font-weight: bold;
    color: #808080;
    font-size: 20px;
}

.tab-button.active {
    color: #f00;
}

.parent__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.child__container {
    background: white;
    height: 200px;
    width: 15%;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    border: 1px solid #000;
    margin: 2%;
}

.product_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 11;
}

@media screen and (max-width:1000px) {
    .tabs {
        margin: 13% auto 3% auto;
    }

    .child__container {
        width: 45%;
        border-radius: 10px;
        position: relative;
        z-index: 10;
        border: 1px solid #000;
        margin: 2%;
    }
}

@media screen and (max-width:768px) {
    .tabs {
        margin: 22% auto 3% auto;
    }
}

@media screen and (max-width:600px) {
    .tabs {
        margin: 35% auto 3% auto;
        display: flex;
        justify-content: space-around;
    }

    .tab-button {
        width: 40%;
    }

    .tab-button-stable { 
        width: initial;
    }
}