.parent__container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10% auto;
    justify-content: space-between;
}

.child__container {
    background: white;
    height: 100px;
    width: 10%;
    border-radius: 10px;
    margin: 3%;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.child__container-left {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.child__container-right {
    width: 35%;
    height: 300px;
    color: #000;
    position: relative;
}

.grand-child__container {
    width: 85%;
    height: 300px;
    border: 1px solid #000;
    padding: 30px;
    line-height: 80px;
}

.label--item {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.form__label--item {
    font-size: 20px;
}

.item-group {
    display: flex;
    width: 100%;
}

.product_image {
    width: 30%;
    height: 200px;
    border: 1px solid #000;
}

.name-group {
    padding: 10px;
    line-height: 80px;
}

.form__button-submit {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: rgb(255,85,85);
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10%;
}

.pay-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.address-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20%;
}

.price-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pay-link {
    text-decoration: none;
    border: none;
    background-color: #fff;
}

.address-link {
    text-decoration: none;
    border: none;
    background-color: #fff;
}

.user-address {
    padding: 20px;
}

@media screen and (max-width:1000px) {
    .parent__container {
        margin: 15% auto;
    }
}

@media screen and (max-width:768px) {
    .parent__container {
        margin: 25% auto;
    }

    .child__container-left {
        width: 50%;
    }

    .child__container-right {
        width: 40%;
    }

    .product_image {
        width: 50%;
    }

    .form__label--item {
        font-size: 15px;
    }
}

@media screen and (max-width:600px) {
    .parent__container {
        margin: 35% auto;
    }

    .child__container-left {
        width: 100%;
    }

    .child__container-right {
        width: 100%;
    }
}